{{#each this}}
<li class="country-list__item">
  <div class="country-list__img-wrap">
    <img src="{{flag}}" alt="{{name}}" class="country-list__img">
  </div>
  <span class="country-list__label">{{name}}</span>
</li>
{{/each}}